@import '../tag/mixin';

@mixin _mat-tree-ext-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-tree-ext {
    ul,
    li {
      margin-top: 0;
      margin-bottom: 0;
      list-style-type: none;
    }

    ul {
      padding-left: 16px;
    }


    .mat-tree-ext {
      &__node {
        @extend .flex-vc;
        flex-wrap: nowrap;

        &--invisible {
          display: none;
        }

        &-icon {
          $node-height: 24px;

          margin-right: 8px;
          width: $node-height;
          height: $node-height;
          line-height: $node-height;
          font-size: $node-height;
          color: mat-color($accent);

          &--selected {
            color: mat-color($primary);
          }
        }

        &-name {
          &--selected {
            color: mat-color($primary);
          }
        }

        &-tags {
          @include tag(mat-color($primary));
          margin-left: 8px;
        }

        &-click {
          cursor: pointer;
        }
      }
    }
  }
}

