@mixin tag($background-color, $color: #fff) {
  line-height: normal;
  vertical-align: middle;
  padding: 2px 4px;
  font-size: 10px;
  border-radius: 10px;
  color: $color;
  background-color: $background-color;
}

