@import '../tag/mixin';
@import '../mixin/shadow';

@mixin _mat-calendar-ext-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .component-calendar {
    &__container {
      border-radius: 4px;
      height: 100%;
    }

    &__table {
      border-collapse: collapse;
      width: 100%;
      border: 0;
    }

    &__caption {
      padding: 4px;
      color: mat-color($primary);
      font-size: 16px;
      background-color: mat-color($primary, 100, .4);
    }

    &__thead {
      text-align: center;
      font-size: 12px;
    }

    &__th {
      padding: 6px 0;
    }

    &__td {
      vertical-align: baseline;
      cursor: pointer;

      &-work-container {
        display: flex;
        justify-content: space-between;
        margin: 8px 8px 0;
      }

      &-tag {
        &--duty {
          @include tag(mat-color($primary));
        }

        &--holiday {
          @include tag(#8cd23c);
        }

        &--null {
          @include tag(#fff);
          opacity: 0;
        }
      }

      &-date {
        font-size: 14px;
        color: map-get($foreground, hint-text);
      }

      &-salary-container {
        margin-top: 16px;
        text-align: center;
      }

      &-salary {
        font-size: 12px;

        &::before {
          content: '';
          background-color: mat-color($accent);
          width: 8px;
          height: 8px;
          display: inline-block;
          line-height: 12px;
          border-radius: 90%;
          margin-right: 6px;
        }
      }
    }

    &__config {
      &-panel {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }

      &-container {
        background-color: white;
        padding: 16px;

        @include shadow();

        position: relative;
      }

      &-bottom-arrow {
        position: absolute;
        bottom: -15px;
        left: 50%;
        transform: translateX(-50%);
      }

      &-head {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}


