@mixin _mat-card-common-theme($theme) {
  .component-card-common {
    &__background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      z-index: 10;
      background-color: rgba(0, 0, 0, .4);
      cursor: pointer;

      transition: opacity .375s;
    }
  }
}

